SUPABASE_URL="https://<project-ref>.supabase.co"
SUPABASE_SECRET_KEY="sb_secret_..."
DATABASE_URL="url"
DIRECT_URL="direct-url"
FRONTEND_URL="https://gym-training-plan-generator.jbrandys-apps.workers.dev"
FLY_API_TOKEN="<api-token>"